body,
html {
  height: 100%;
  margin: 0;
}

.container {
  text-align: center;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;

  display: grid;
  grid-template: 100px 100px 500px 100px / 300px 900px;
  grid-template-areas: 
    "Header Header"
    "Sidebar Nav"
    "Sidebar Article"
    "Footer Footer";
  gap: 15px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  border-radius: 15px;
}

.header {
  grid-area: Header;
  background-color: #006157;
}

.sidebar {
  grid-area: Sidebar;
  background-color: #005B94;
}

.nav {
  grid-area: Nav;
  background-color: #642cde;
}

.article {
  grid-area: Article;
  background-color: #7E1DC3;
}

.footer {
  grid-area: Footer;
  background-color: #393f4d;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}